@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.app {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.searchBar {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.searchLogo {
    width: 25px;
    height: 25px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.weatherComponent {
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}
