@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.app {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.autoComplete {
    width: 25%;
    margin-right: 1%;
}

.weatherComponentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherComponentCity {
    height: 70px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    align-self: stretch;
}

.weatherComponentDegree {
    height: 150px;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    align-self: #auto;
}

.errorBox {
    display: flex;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 12px;
    color: #D8000C;
    background-color: #FFD2D2;
    vertical-align: middle;
    align-items: center;
    text-align: left;
}

.weatherComponentWeatherDescription {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.weatherForecastList {
    display: flex;
    justify-content: left;
}

.WeatherForecastListItem {
    font-family: 'Open Sans', sans-serif;
}
